body{
    background-color: hotpink;
    display: flex;
}

.top-bar{
    height: 5vh;
    width: 100%;
    background-color: grey;
    box-sizing: border-box;
    display: flex;

}

.company{
    font-size: 25pt;
    display: flex;
    text-align: center;
    padding-left: 40px;
    padding-top: 7px;
    color: white;
}

.words{
    font-size: 12pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    


}